.body{
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4);
    gap: 1px;
}

.grid-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: #fff;
    background-color: #006909;
}

.item1 {
    grid-column: span 2;
    height: 50px;
}
.item2 {
    grid-column: span 2;
    height: 50px;   
}

.item3 {
    grid-row: span 2;
    height: 400px;
}

.item6 {
    grid-row: span 2;
    height: 400px;
}

.item9 {
    grid-column: span 2; 
    height: 50px;
}
.item10 {
    grid-column: span 2;
    height: 50px;
}
   