
/* Para 1024px */  
@media only screen and (min-width: 1024px) {  
    .grid-container-1 {
        display: grid;
        grid-gap: 1.5rem;
        grid-template-columns: repeat(12, 1fr);
    }
    
    .grid-container-2 {
        display: grid;
        grid-gap: 1.5rem;
        grid-template-columns: repeat(6, 1fr);
    }
    
    
    .grid-container-3 {
        display: grid;
        grid-gap: 1.5rem;
        grid-template-columns: repeat(3, 1fr);
    }
    
    .grid-container-4 {
        display: grid;
        grid-gap: 1.5rem;
        grid-template-columns: repeat(2, 1fr);
    }
    
    
    .item {
        margin: 3px;
        background: #00a1a7;
        height: 30px;
    }
}  
  
/* Para 480px a 1024px */  
@media only screen and (max-width: 1024px) and (min-width: 480px) {  
    .grid-container-1 {
        width: 5rem;
        display: grid;
        margin-bottom: 20px;
        grid-template-columns: repeat(2,1fr);
    }
    
    .grid-container-2 {
        width: 10rem;
        display: grid;
        margin-bottom: 20px;
        grid-template-columns: repeat(2,1fr);
    }
    
    
    .grid-container-3 {
        width: 20rem;
        display: grid;
        margin-bottom: 20px;
        grid-template-columns:  repeat(2,1fr);
    }
    
    .grid-container-4 {
        width: 40rem;
        display: grid;
        margin-bottom: 20px;
        grid-template-columns: repeat(2,1fr);
    }
    
    
    .item {
        margin: 3px;
        background: #00a1a7;
        height: 30px;
    }
}  
  
/* Para 480px */  
@media (max-width: 480px)  {  


    .grid-container-1 {
        width: 5rem;
        display: grid;
        margin-bottom: 20px;
        grid-template-columns: repeat(1,1fr);
    }
    
    .grid-container-2 {
        width: 10rem;
        display: grid;
        margin-bottom: 20px;
        grid-template-columns: repeat(1,1fr);
    }
    
    
    .grid-container-3 {
        width: 20rem;
        display: grid;
        margin-bottom: 20px;
        grid-template-columns: repeat(1,1fr);
    }
    
    .grid-container-4 {
        width: 40rem;
        display: grid;
        margin-bottom: 20px;
        grid-template-columns: repeat(1,1fr);
    }
    
    
    .item {
        margin: 3px;
        background: #00a1a7;
        height: 30px;
    }
} 

