.flex-container{
    background: var(--primary-dark-cyan);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.nombre{
    font-size: 30px;
    color: var(--primary-very-dark-blue);
    font-family: 'Kumbh Sans', sans-serif; 
}  

.superior {
    background-image: url('images/bg-pattern-card.svg');
    width: 70vh;
    height: 20vh;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.centro {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--dark_gray);
    width: 70vh;
    height: 30vh;
    text-align: center;
    font-size: 3em;
}

img{
    border-radius: 50%;
}

.imagen{
    margin-top: -110px;
}
.flex-container-row {
    display: flex;
    flex-direction: row;
   }
.inferior {
    display: flex;
    gap: 40px;
    justify-content: space-evenly;
    align-items: center;
    background: var(--dark_gray);
    width: 70vh;
    height: 15vh;
    font-size: 3em;
    border-top: 1px solid var(--primary-dark-blue);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.parSup{
    text-align: center;
}

.caja{
    text-align: center;
}

p{
    font-size: 18px;
    color: var(--primary-dark-blue);
    margin: 0;
}

h3{
    margin: 0;
}
:root {
	--primary-dark-cyan: hsl(185, 75%, 39%);
	--primary-very-dark-blue: hsl(229, 23%, 23%);
	--primary-dark-blue: hsl(227, 10%, 46%);
	--dark_gray: hsl(0, 0%, 91%);
}

